.background    { background: rgb(255, 166, 77);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("img/fire2.jpg");}
.lava          { background: rgb(255, 100, 100); }
.platform      { background: rgb(255, 255, 255); }
.wall          { background: rgb(204, 204, 179); }
.teleporter    { background: rgb(57, 230, 0); }
.actor { position: absolute; }
.player { background: rgb(64, 64, 64); }
.coin { background: rgb(255, 255, 255); }
.jump { background: rgb(66, 134, 244); }
.slow { background: rgb(175, 91, 153); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background-image: linear-gradient(#404040, #ff6464);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}